/*
@path-nv1: 		"..";
@path-nv2: 		"../..";
@path-nv3: 		"../../..";
@path-nv4: 		"../../../..";
@path-nv5: 		"../../../../..";

@path-var-boots:    "bootstrap/variables.less";
@path-mixins-boots: "bootstrap/mixins.less";
@path-var-theme:    "theme/theme-variables.less";
@path-less: 		"css/less";
@path-participacao: "participacao-tema";
*/
.tabs-main {
  height: 100%;
}
.tabs-main .nav {
  vertical-align: top;
}
.tabs-main .tabs-left {
  position: relative;
  height: 100%;
  display: table;
  table-layout: fixed;
}
.tabs-main .tabs-left:before,
.tabs-main .tabs-left:after {
  content: " ";
  display: table;
}
.tabs-main .tabs-left:after {
  clear: both;
}
.tabs-main .tabs-left > .nav-tabs {
  border-bottom: 0;
  width: 20%;
  display: table-cell;
}
@media (max-width: 768px) {
  .tabs-main .tabs-left > .nav-tabs {
    width: 100%;
    display: table-header-group;
    box-shadow: 0px 2px 10px -4px #323232;
  }
}
.tabs-main .tabs-left > .nav-tabs > li {
  float: none;
}
.tabs-main .tabs-left > .nav-tabs > li > a {
  margin-right: 0;
  margin-bottom: 3px;
  margin-right: -1px;
  border-radius: 0;
  border: 0;
  font-weight: 700;
  color: #515151;
}
.tabs-main .tabs-left > .nav-tabs > .active > a {
  font-weight: 700;
  color: #bc3f38;
}
.tabs-main .tabs-left > .nav-tabs > .active > a:before {
  position: absolute;
  font-family: 'FontAwesome';
  top: 30%;
  right: 0;
  content: "\f054";
  color: #fdd0cd;
}
@media (max-width: 768px) {
  .tabs-main .tabs-left > .nav-tabs > .active > a:before {
    content: "\f078";
  }
}
.tabs-main .tabs-left > .nav-tabs > .active > a:hover,
.tabs-main .tabs-left > .nav-tabs > .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-main .tabs-left .tab-content {
  width: 80%;
  background-color: #fff;
  height: 100%;
  display: table-cell;
}
@media (max-width: 768px) {
  .tabs-main .tabs-left .tab-content {
    width: 100%;
    border-top: 4px solid #ccc;
  }
}
.tabs-main .tabs-left .tab-content > .tab-pane {
  display: none;
  padding: 20px;
}
.tabs-main .tabs-left .tab-content > .active {
  display: block;
}
.tabs-main .tabs-left .pill-content > .pill-pane {
  display: none;
}
.tabs-main .tabs-left .pill-content > .active {
  display: block;
}
.comments-structure .list-group {
  margin-bottom: 0;
}
.comments-structure .label-info {
  float: right;
}
.comments-structure li.list-group-item {
  border-radius: 0;
  border: solid #dddddd;
  border-width: 1px 0 0 0;
  padding: 10px;
}
.comments-structure li.list-group-item:first-child {
  border-top: none;
}
.comments-structure .comments-line {
  margin: 0 -15px 0 -15px;
}
.comments-structure .comments-line:before,
.comments-structure .comments-line:after {
  content: " ";
  display: table;
}
.comments-structure .comments-line:after {
  clear: both;
}
.comments-structure .comments-line .comments-image {
  float: left;
  padding: 0;
  width: 40px;
  text-align: center;
}
.comments-structure .comments-line .comments-image img {
  border-radius: 16px;
  height: 32px;
  width: 32px;
  text-align: center;
}
.comments-structure .comments-line .comments-text {
  font-size: 12px;
  float: left;
  width: 90%;
  padding: 0 15px 15px 15px;
  position: relative;
}
.comments-structure .comments-line .comments-mic-info {
  color: #666666;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 26%);
  padding-top: 25px;
  width: 90%;
}
.comments-structure .comments-line .comment-comment {
  height: 80px;
  overflow: hidden;
}
.comments-structure .comments-main {
  margin: 20px -15px 0 -15px;
}
.comments-structure .comments-main:before,
.comments-structure .comments-main:after {
  content: " ";
  display: table;
}
.comments-structure .comments-main:after {
  clear: both;
}
.comments-structure .comments-main .comments-col {
  min-height: 300px;
}
.comments-structure .comments-main .comments-header {
  padding: 0 15px;
}
.comments-structure .comments-main .one-col {
  padding: 0 15px;
}
.comments-structure .comments-main .one-col .comments-text {
  width: 90%;
}
.comments-structure .comments-main .two-col:before,
.comments-structure .comments-main .two-col:after {
  content: " ";
  display: table;
}
.comments-structure .comments-main .two-col:after {
  clear: both;
}
.comments-structure .comments-main .two-col .comments-text {
  width: 80%;
}
.comments-structure .comments-main .two-col .comments-col {
  float: left;
  width: 50%;
  padding: 0 15px;
  border-left: 1px solid #ccc;
}
.comments-structure .comments-main .two-col .comments-col:first-child {
  border-left: 0;
}
@media (max-width: 992px) {
  .comments-structure .comments-main .two-col .comments-col {
    float: none;
    width: 100%;
    border-left: none;
    border-top: 2px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
  }
  .comments-structure .comments-main .two-col .comments-col:first-child {
    border-top: 0;
  }
}
.comments-structure .comments-main .three-col:before,
.comments-structure .comments-main .three-col:after {
  content: " ";
  display: table;
}
.comments-structure .comments-main .three-col:after {
  clear: both;
}
.comments-structure .comments-main .three-col .comments-text {
  width: 75%;
}
.comments-structure .comments-main .three-col .comments-col {
  float: left;
  width: 33.3333%;
  padding: 0 15px;
  border-left: 1px solid #ccc;
}
.comments-structure .comments-main .three-col .comments-col:first-child {
  border-left: 0;
}
@media (max-width: 992px) {
  .comments-structure .comments-main .three-col .comments-col {
    float: none;
    width: 100%;
    border-left: none;
    border-top: 2px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
  }
  .comments-structure .comments-main .three-col .comments-col:first-child {
    border-top: 0;
  }
}
.ficha-tecnica {
  padding: 20px 0;
  background-color: #fff;
}
.ficha-tecnica .thumbnail {
  min-height: 450px;
}
.ficha-tecnica .panel {
  min-height: 450px;
}
