/*
Theme Name: Tema Genérico para Debates Públicos
Theme URI: https://github.com/pensandoodireito/debatepublico-tema
Author: Pensando o Direito
Author URI: http://pensandoodireito.mj.gov.br/
Description: Tema Genérico para WordPress para Debates Públicos
Version: 0.1
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: participação, internet, legislação, secretaria de assuntos legislativos
Text Domain: pensandoodireito
Template: participacao-tema

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url("../participacao-tema/style.css");
@import url("css/theme-debates.css");
@import url("css/theme-debates-anti-corrupcao.css");
